<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }} - Moverr</title>
        <meta charset="utf-8">
        <!--<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link href="https://fonts.googleapis.com/css?family=PT+Mono&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Oxygen+Mono&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.4.1.js') }}"></script>
    </head>
    <body>
        <div class="main-container">
            <div class="head-container">
                <div class="app-title">
                    <h1>Moverr - The Inventory Manager</h1><br>
                    <hr>
                </div>
                {% block head %}

                {% endblock %}
            </div>
            <div class="main-content">
                {% block content %}

                {% endblock %}
                <div class="invisible-footer">
                </div>
                {% block footer %}
                {% endblock %}
            </div>
        </div>
        {% block scripts %}
        {% endblock %}
    </body>
</html>
