{% extends 'base.html' %}
{% block head %}
    <div id="main-nav">
        <ul>
            <li><a href="{{ url_for('main.products') }}">Products</a></li>
            <li><a href="{{ url_for('main.locations') }}">Locations</a></li>
            <li><a class="active" href="{{ url_for('main.movements') }}">Movement</a></li>
            <li><a href="{{ url_for('main.movementlogs') }}">Movement Logs</a></li>
            <li><a href="{{ url_for('main.logout') }}">Logout</a></li>
        </ul>
    </div>
{% endblock %}
{% block content %}
    <div class="page-labels">
        <h3>Make Movements</h3>
    </div>
    {% if error %}
    <div class="error">
        {{ error }}
    </div>
    {% endif %}
    <div class="clr-four"></div>
    <div id="make-movements-card">
        <div id="select-operation-div">
            <label>Operation:</label>
            <select id="operations">
                <option name="purchase">Purchase</option>
                <option name="movement">Movement</option>
                <option name="sales">Sales</option>
            </select>
        </div>
        <form id="movement-form" method="post">
            <div id="movement-operation">
                <div class="select-location-div">
                    <label id="move-from-label">Move from</label>
                    <select id="move-from" name="move-from">
                        {% if warehouses %}
                        {% for location in warehouses %}
                        <option name="{{ location[0] }}">{{ location[0] }}, {{ location[1] }}</option>
                        {% endfor %}
                        {% endif %}
                    </select>
                </div>
                <div class="select-product-div">
                    <label id="select-product-label">Select product</label id="select-product-label">
                    <select id="product-to-move" name="product-to-move">
                    </select>
                    <label>Quantity</label>
                    <input class="quantity-input" name="quantity-to-move" size="6" required>
                    <label id="qty-disp-movement"></label>
                </div>
                <div class="move-to-div">
                    <label>Move to</label>
                    <select id="move-to" name="move-to">
                        {% if alllocations %}
                        {% for location in alllocations %}
                        <option name="{{ location[0] }}">{{ location[0] }}, {{ location[1] }}</option>
                        {% endfor %}
                        {% endif %}
                    </select><br>
                </div>
                <div class="move-button-div">
                    <input name="movement-operation" type="submit" value="Confirm">
                </div>
            </div>
        </form>
        <form id="purchase-form" method="post">
            <div id="purchase-operation">
                <div class="select-product-div">
                    <label>Product</label>
                    <select id="purchase-product" name="purchase-product">
                        {% if allproducts %}
                        {% for product in allproducts %}
                        <option name="{{ product[0] }}">{{ product[0] }}, {{ product[1] }}</option>
                        {% endfor %}
                        {% endif %}
                    </select>
                    <label>Quantity</label>
                    <input class="quantity-input" name="quantity-to-purchase" size="6" required>
                    <label id="qty-disp-purchase"></label>
                </div>
                <div class="select-location-div">
                    <label>Location to store</label>
                    <select id="move-purchase" name="move-purchase">
                        {% if alllocations %}
                        {% for location in alllocations %}
                        <option name="{{ location[0] }}">{{ location[0] }}, {{ location[1] }}</option>
                        {% endfor %}
                        {% endif %}
                    </select><br>
                </div>
                <div class="move-button-div">
                    <input name="purchase-operation" type="submit" value="Confirm">
                </div>
            </div>
        </form>
        <form id="sales-form" method="post">
            <div id="sales-operation">
                <div class="select-location-div">
                    <label>Location</label>
                    <select id="sales-location" name="sales-location">
                        {% if warehouses %}
                        {% for location in warehouses %}
                        <option name="{{ location[0] }}">{{ location[0] }}, {{ location[1] }}</option>
                        {% endfor %}
                        {% endif %}
                    </select>
                </div>
                <div class="select-product-div">
                    <label>Product to sell</label>
                    <select id="sales-product" name="sales-product">
                    </select>
                    <label>Quantity</label>
                    <input class="quantity-input" name="quantity-to-sell" size="6" required>
                    <label id="qty-disp-sales"></label>
                </div>
                <div class="move-button-div">
                    <input name="sales-operation" type="submit" value="Confirm">
                </div>
            </div>
        </form>
    </div>
    <div id="data-display">
    {% if locationmap %}
        {% for loc in locationmap %}
        <div class="shops">
            <div class="location-title">{{ loc }}</div>
            <table class="tables">
                <tr>
                    <th>Product</th>
                    <th>Quantity</th>
                </tr>
                {% for data in locationmap[loc] %}
                <tr>
                    <td>{{ data[0] }}</td>
                    <td>{{ data[1] }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        {% endfor %}
    {% else %}
        <div class="page-info">
            There are no products at any location.
        </div>
    {% endif %}
    </div>
{% endblock %}
{% block scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock %}